---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="text-3xl font-bold underline">Hello world!</h1>
    <button id="error-button">Throw test error</button>
    <script>
      function handleClick() {
        throw new Error("This is a test error");
      }
      document
        .querySelector("#error-button")
        ?.addEventListener("click", handleClick);
    </script>
  </body>
</html>
